@import "tailwindcss";
@import "./typography.css";

@custom-variant dark (&:where(.dark, .dark *));

/* FONTS */
/* @font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/space-grotesk.woff2") format("woff2");
  font-weight: 300 400 600;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/ibm-plex-mono.woff2") format("woff2");
  font-weight: 400 500;
  font-display: swap;
} */

/* COLOR SCHEME */
.dark {
  --background: var(--color-zinc-800);
  --foreground: var(--color-zinc-300);
  --accent: var(--color-yellow-500);
}

.light {
  --background: var(--color-gray-100);
  --foreground: var(--color-gray-800);
  --accent: var(--color-red-500);
}

/* CODE BLOCK */
.light {
  .astro-code,
  .astro-code span {
    color: var(--shiki-light) !important;
    background-color: var(--shiki-light-bg) !important;
    /* font-style: var(--shiki-light-font-style) !important;
    font-weight: var(--shiki-light-font-weight) !important;
    text-decoration: var(--shiki-light-text-decoration) !important; */
  }
}
.dark {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important; */
  }
}

/* INIT TAILWIND THEME */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);

  --font-sans: "Space Grotesk Variable";
  --font-mono: "IBM Plex Mono";
}

/* BASE STYLING */
@layer base {
  /* layouts */
  html {
    @apply bg-background text-foreground selection:bg-accent selection:text-background overflow-y-scroll scroll-smooth antialiased;
  }
  body {
    --z-old: 1;
    --z-new: 2;
  }
  .dark {
    --z-old: 2;
    --z-new: 1;
  }

  button:not(:disabled) {
    cursor: pointer;
  }
}

/* SCROLLBAR STYLING */
@layer base {
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-foreground);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-accent);
  }
}

/* THEME TRANSITION */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: var(--z-old);
}
::view-transition-new(root) {
  z-index: var(--z-new);
}
