---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import type { BlogType } from "../../content.config";

const blogs: BlogType[] = await getCollection("blogs");
const tags = [...new Set(blogs.map((blog) => blog.data.tags).flat())].sort();
---

<BaseLayout
  title="Tags"
  description="All unique tags of RBI blogs"
  author="RBI"
  url="https://rbistudios.com/tags/1"
>
  <div class="center">
    <h1 class="heading">Tags</h1>
    <ul class="mx-8 my-3 gap-3 space-y-3">
      {
        tags.map((tag) => {
          return (
            <li>
              <a
                href={`/tags/${tag}/1`}
                class="paragraph hover:text-accent animation"
              >
                {tag}
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</BaseLayout>
