---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import { Pill } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';

const builtWith = [
  { name: 'Astro', url: 'https://astro.build/' },
  { name: 'UnoCSS', url: 'https://uno.antfu.me/' },
  {
    name: 'Content Collections',
    url: 'https://docs.astro.build/en/guides/content-collections/',
  },
  { name: 'RSS', url: 'https://docs.astro.build/en/guides/rss/' },
  {
    name: 'Sitemap',
    url: 'https://docs.astro.build/en/guides/integrations-guide/sitemap/',
  },
  { name: 'Vercel', url: 'https://vercel.com' },
  { name: 'TypeScript', url: 'https://www.typescriptlang.org/' },
];
---

<Layout
  title='Home'
  pageTitle='RBI Studios | Home'
  description='RBI Studios is an aspiring Game Studio in Chicago.'
>
  <main class='p-6'>
    <section id='about' class='mt-4'>
      <h2 class='hidden'>About RBI</h2>
      
      {/* Mobile: 2x2 grid, Desktop: 4 columns */}
      <div class='grid grid-cols-2 md:grid-cols-4 gap-4 mb-4'>
        <!-- <Card color='#4ade80'>
          <div class='flex flex-col items-center justify-center h-full p-4 text-center'>
            <p class='outfit text-lg md:text-2xl font-bold'>Card 1</p>
          </div>
        </Card>
        
        <Card color='#60a5fa'>
          <div class='flex flex-col items-center justify-center h-full p-4 text-center'>
            <p class='outfit text-lg md:text-2xl font-bold'>Card 2</p>
          </div>
        </Card>
        
        <Card color='#c084fc'>
          <div class='flex flex-col items-center justify-center h-full p-4 text-center'>
            <p class='outfit text-lg md:text-2xl font-bold'>Card 3</p>
          </div>
        </Card>
        
        <Card color='#f472b6'>
          <div class='flex flex-col items-center justify-center h-full p-4 text-center'>
            <p class='outfit text-lg md:text-2xl font-bold'>Card 4</p>
          </div>
        </Card>
      </div> -->
      
      {/* 2x1 card spanning full width on mobile, 4 columns on desktop */}
      <div class='col-span-2 md:col-span-4'>
        <Card color='#002657'>
          <div class='flex flex-col justify-between items-start gap-4 p-6'>
            <p class='mt-4 outfit text-2xl md:text-5xl lg:text-7xl text-white'>
              RBI Studios
            </p>
            <p class='mt-2 mb-4 outfit text-xl md:text-3xl lg:text-5xl text-white'>
              A Creative Game Studio.
            </p>
            <div class='flex gap-4 flex-wrap'>
              <Button target={'_self'} href='/devlogs/'>
                Check out our Dev Logs! &rarr;
              </Button>
              <Button target={'_self'} href='/team/'>
                Contact Us &rarr;
              </Button>
            </div>
          </div>
        </Card>
      </div>
    </section>
    <RecentBlogPosts />
  </main>
</Layout>
