---
import BaseLayout from "../layouts/BaseLayout.astro";
import Introduction from "../components/Introduction.astro";
import Featured from "../components/Featured.astro";
import Newsletter from "../components/Newsletter.astro";
---

<BaseLayout
  title="RBI Studios"
  description="A minimalist Astro starter for personal blogs."
  author="RBI"
  url="https://rbistudios.com"
>
  <div class="center">
    <section>
      <Introduction />
    </section>
    <hr />
    <section>
      <Featured />
    </section>
    <hr />
    <section>
      <Newsletter />
    </section>
  </div>
</BaseLayout>
