---
import ThemeToggle from "./ThemeToggle";
import Navigation from "./Navigation.astro";
import IconRss from "../assets/icons/rss.svg";
---

<header
  class="header-margin sticky top-0 z-0 flex items-center justify-between"
>
  <a
    href="/"
    class:list={[
      "text-xl tracking-wider select-none",
      Astro.url.pathname === "/" ? "text-accent" : "",
    ]}>RBI Studios</a
  >
  <div class="flex items-center justify-center gap-6">
    <Navigation />


  </div>
</header>
