---

---

<h2 class="section-heading">N E W S L E T T E R (coming soon)</h2>
<p class="paragraph my-3 text-center leading-loose">
  Get updates
</p>
<form
  class="flex items-center justify-center gap-3 select-none"
  action="#"
  method="POST"
  onsubmit="return false"
>
  <input
    required
    name="email"
    autocomplete="email"
    type="email"
    class="focus:ring-accent ring-foreground/60 placeholder:text-foreground/40 rounded-lg px-4 py-1 leading-relaxed opacity-90 ring-1 outline-0"
    placeholder="yourname@email.com"
  />
  <button type="submit" class="button animation cursor-not-allowed opacity-60" disabled title="Backend not set up">Subscribe</button>
</form>
