---
const { page } = Astro.props;
---

<nav class="my-3 flex items-center justify-center gap-8 select-none">
  <a
    href={page.url.prev || "#"}
    class={`${page.url.prev ? "hover:text-accent" : "text-foreground/60 cursor-not-allowed"}`}
    >prev</a
  >
  <p class="font-mono text-sm opacity-90">
    {page.currentPage} of {page.lastPage}
  </p>
  <a
    href={page.url.next || "#"}
    class={` ${page.url.next ? "hover:text-accent" : "text-foreground/60 cursor-not-allowed"}`}
    >next</a
  >
</nav>
