---
const { title, date, url, tags } = Astro.props;
import IconArrowRight from "../assets/icons/arrow-right.svg";
---

<a
  href={url}
  class="hover:bg-accent ring-background hover:ring-accent group animation flex h-full flex-col gap-2 rounded-lg shadow-lg ring-3 select-none hover:shadow-none hover:ring-3 active:ring-0 dark:shadow-2xl"
>
  <div class="mx-4 mt-2 flex items-center justify-between gap-6">
    <div class="flex items-center gap-3">
      <h3
        class="text-foreground group-hover:text-background animation self-start rounded-lg text-xl opacity-90 group-hover:font-semibold group-hover:tracking-wide"
      >
        {title}
      </h3>
    </div>
    <div class="flex">
      <p
        class="animation mt-1 text-sm opacity-80 group-hover:text-[0rem] group-hover:opacity-0"
      >
        {date}
      </p>
      <IconArrowRight
        class="stroke-background animation size-0 stroke-2 group-hover:size-6"
      />
    </div>
  </div>
  <div>
    <div class="mx-3 flex flex-wrap">
      {
        tags.map((tag: string) => (
          <p class="ring-foreground bg-background animation mx-1 flex items-center gap-1 rounded-lg px-3 pb-0.5 text-[0rem] opacity-90 group-hover:mb-3 group-hover:text-sm">
            {tag}
          </p>
        ))
      }
    </div>
  </div>
</a>
