---
import IconGithub from "../assets/icons/brand-github.svg";
import IconYoutube from "../assets/icons/brand-youtube.svg";
import IconLinkedin from "../assets/icons/brand-linkedin.svg";
import IconDiscord from "../assets/icons/brand-discord.svg";
import IconTwitter from "../assets/icons/brand-x.svg";
---

<div class="flex items-center justify-center space-x-6 pb-8">
  <a href="https://discord.gg/ZrJ9dacaMP" target="blank" aria-label="discord"
    ><IconDiscord class="socials" /></a
  >
  <a href="https://www.youtube.com/@RBIStudios" target="blank" aria-label="youtube"
    ><IconYoutube class="socials" /></a
  >
  <a href="https://www.linkedin.com/company/rbistudios" target="blank" aria-label="linkedin"
    ><IconLinkedin class="socials" /></a
  >
  <a href="https://twitter.com/rbistudios" target="blank" aria-label="twitter"
    ><IconTwitter class="socials" /></a
  >
</div>
