---
const { years } = Astro.props;
---

<div class="flex flex-wrap gap-3 pt-3">
  {
    years.map((year: string) => (
      <a
        href={`/archive/${year}/1`}
        class:list={[
          "button animation",
          Astro.url.pathname.startsWith(`/archive/${year}`)
            ? "text-background bg-accent font-semibold"
            : "",
        ]}
      >
        {year}
      </a>
    ))
  }
</div>
