---
import type { CollectionEntry } from 'astro:content';
import BlogSummaryCard from './BlogSummaryCard.astro';

interface Props {
  posts: CollectionEntry<'blog'>[];
  showTitle?: boolean;
}

const { posts, showTitle = false } = Astro.props;
---
{showTitle && (
  <h1 class='text-4xl md:text-6xl lg:text-7xl outfit text-center mb-8'>Dev Logs</h1>
)}
<ul class='grid md:grid-cols-2 lg:grid-cols-3 gap-8'>
  {
    posts.map((post) => {
      return (
        <li>
          <BlogSummaryCard post={post} />
        </li>
      );
    })
  }
</ul>
